<form>
    <p>Selectionnez une action par défault: </p>

    <div>
      <input type="radio" id="readAll" name="drone" value="huey"
             checked>
      <label for="huey">ReadAll</label>
    </div>

    <div>
      <input type="radio" id="read" name="drone" value="dewey">
      <label for="dewey">Read</label>
    </div>

    <div>
      <input type="radio" id="create" name="drone" value="louie">
      <label for="louie">Create</label>
    </div>

    <div>
      <input type="radio" id="created" name="drone" value="louie">
      <label for="louie">Created</label>
    </div>
    <div>
      <button type="submit">Envoyer</button>
    </div>
</form>